* {
  /* font-family: 'Cutive', serif; */
/* font-family: 'Trocchi', serif; */
font-family: 'Lora', serif;
/* font-family: 'Vesper Libre', serif; */
}

html, body {
  height: 100%;
}

img {
  object-fit: cover;
  /* object-position: 0% 23%; */
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-md-8 {
  background-color: rgba(240, 240, 240, 0.75);
}

pre {
  overflow: hidden;
  
}
input {
  width: 80%;
    text-align: center;
    background-color: rgba(186, 218, 255, 0.89);
    padding: 5px;
    margin: 5px;
    border: solid 1px white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

button {
  width: 70%;
  text-align: center;
  background-color: rgba(186, 218, 255, 0.89);
  padding: 5px;
  margin: 5px;
  border-radius: 25px;
  border: solid 1px white;
  min-width: 100px;
}

button:hover {
  width: 70%;
  text-align: center;
  background-color: white;
  color: rgba(186, 218, 255, 1);
  padding: 5px;
  border-radius: 25px;
  border: solid 1px white;
  cursor: pointer;
  transition: all 0.9s ease;
}
